.color-swatch, .size-swatch {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.color-swatch {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    border: 2px solid #ccc;
}

.size-swatch {
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border: 2px solid #ccc;
}

.color-swatch:hover, .size-swatch:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.color-swatch.selected, .size-swatch.selected {
    border: 3px solid black;
}