/* Стили для таблицы */
.sales-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.sales-table th, .sales-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.sales-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.sales-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.sales-table tr:hover {
    background-color: #ddd;
}

/* Кнопка выгрузки таблицы */
form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
.content {
    padding-bottom: 70px; /* Размер соответствует высоте навигационного окна */
}